.display-table{
    display: table;
    table-layout: fixed;
    padding-top: 10px;
}

.display-cell{
    display: table-cell;
    vertical-align: middle;
    float: none;
}

body {
    background-image: url("images/bar_background-edit2.gif");
    background-size: 100%;
    background-repeat: no-repeat;
}

.index-header-text {
    color: black;
    font-size: 16px;
    text-align: center;
}

.logo-center {
    text-align: center;
}

.index-aboutus-text {
    color: white;
}

.index-contactus-text {
    color: white;
}

