{% extends 'base.html' %}

{% load staticfiles %}

{% block body_block %}

<div class="container-fluid">

    <div class="row display-table">
        <div class="col-md-1 display-cell">
        </div>
        <div class="col-md-1 display-cell logo-center">

                <img class="center-block" alt="SpeakEasy Logo" height="60px" src="{{ STATIC_URL }}images/speakeasy_logo-5.png">

        </div>
        <div class="col-md-10 display-cell">
{#            <div class="index-header-text">#}
{#            Building Transformational Mobile Solutions for the Nightlife Industry#}
{#            </div>#}
        </div>
{#        <div class="col-md-4 display-cell">#}
{#        </div>#}

    </div>

    <div class="row">
        <div <div class="col-md-2"></div>

{#        <h4>About Us:</h4>#}
{#        <p>Imagine booking a flight or hotel without Expedia, booking a restaurant on a Friday night without OpenTable, or being picked up without Uber</p>#}
{#            <p>This is where nightlife is today.</p>#}
{##}
{#<p></p>Nightlife, is similar to the travel, food and other daytime industries: highly fragmented with many inefficiencies.</p>#}
{##}
{#<p>SpeakEasy Labs was founded on the belief that the nightlife industry is ripe for technological adoption to improve the customer experience, operator efficiency and industry profitability</p>#}
{#<p>We aim to consult and work with nightlife operators to provide them with the technological tools, systems and data necessary to thrive in one of the most competitive industries</p>#}
{##}
{#<p>We design and build bespoke promotional, customer relationship and management tools that will take your operation to the next level.</p>#}
{##}
{#It's time for nightlife to see the light!#}



        <div <div class="col-md-2"></div>
    </div>
    <div class="row">


{#                <p><h4>Contact Us:</h4></p>#}
{#Have questions for us or an idea that you need put into motion? We can't wait to help.#}
{#Email: contact@speakeasylabs.com#}


    </div>
</div>


{% endblock %}