{% extends 'base.html' %}

{% load staticfiles %}

{% block body_block %}


    <!-- Page Content -->
    <div class="container">
        <div class="row">
{#            <div class="col-md-11 col-sm-12"></div>#}
            <div class="col-md-12 black-background">
                <div class="bar-image"><img align="centre" class="img-responsive center-block" alt="bar background" src="{{ STATIC_URL }}images/bar_background-edit3.png"></div>
                <div class="logo-overlay"><img align="centre" class="img-responsive center-block" alt="SpeakEasy Logo" height="50px" src="{{ STATIC_URL }}images/speakeasy_logo-9.png"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 black-background">
                <p class="header-text"><img class="index-icon" src="{{ STATIC_URL }}images/beaker_icon-edit1.gif"> About Us</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 black-background">
                <p class="about-us-text">
                    Imagine booking a flight or hotel without Expedia, booking a restaurant on a Friday night without OpenTable,
                    or being picked up without Uber. This is where nightlife is today. Nightlife, is similar to the travel, food
                    and other daytime industries: highly fragmented with many inefficiencies. speakeasy labs was founded on the
                    belief that the nightlife industry is ripe for technological adoption to improve the customer experience,
                    operator efficiency and industry profitability. We aim to consult and work with nightlife operators to provide
                    them with the technological tools, systems and data necessary to thrive in one of the most competitive
                    industries. We design and build bespoke promotional, customer relationship and management tools that will take
                    your operation to the next level. It's time for nightlife to see the light!

                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 black-background">
                <p class="header-text"><img class="index-icon" src="{{ STATIC_URL }}images/beer_icon-edit2.png"> Contact Us</p>
                <p class="header-text">Send us an email or join our mailing list for our latest updates</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 black-background">
                
            </div>
        </div>
    </div>

    {% endblock %}










{##}
{#<div class="container-fluid bar-background">#}
{##}
{#    <div class="row">#}
{#        <div class="col-md-12">#}
{#            <img align="centre" class="img-responsive center-block" alt="SpeakEasy Logo" height="50px" src="{{ STATIC_URL }}images/speakeasy_logo-9.png">#}
{#        </div>#}
{#    </div>#}
{##}
{#    <div class="row">#}
{#        <div class="col-md-12">Haaaaaay#}
{#        <br>#}
{#        <br>#}
{#        <br>#}
{#            <br>#}
{#            <br>#}
{#            <br>#}
{#            <br>#}
{#            <br>#}
{#            <br>#}
{#            <br>#}
{#            <br>#}
{#            <br>#}
{#            <br>#}
{#        </div>#}
{##}
{#        </div>#}
{#</div>#}
{##}
{##}
{##}
{#            <div class="index-header-text">#}
{#            Building Transformational Mobile Solutions for the Nightlife Industry#}
{#            </div>#}
{##}
{#        <div class="col-md-4 display-cell">#}
{#        </div>#}
{##}
{#        <h4>About Us:</h4>#}
{#        <p>Imagine booking a flight or hotel without Expedia, booking a restaurant on a Friday night without OpenTable, or being picked up without Uber</p>#}
{#            <p>This is where nightlife is today.</p>#}
{##}
{#<p></p>Nightlife, is similar to the travel, food and other daytime industries: highly fragmented with many inefficiencies.</p>#}
{##}
{#<p>SpeakEasy Labs was founded on the belief that the nightlife industry is ripe for technological adoption to improve the customer experience, operator efficiency and industry profitability</p>#}
{#<p>We aim to consult and work with nightlife operators to provide them with the technological tools, systems and data necessary to thrive in one of the most competitive industries</p>#}
{##}
{#<p>We design and build bespoke promotional, customer relationship and management tools that will take your operation to the next level.</p>#}
{##}
{#It's time for nightlife to see the light!#}
{##}
{##}
{##}
{##}
{##}
{#                <p><h4>Contact Us:</h4></p>#}
{#Have questions for us or an idea that you need put into motion? We can't wait to help.#}
{#Email: contact@speakeasylabs.com#}



